.mft-check-title h2 {
    text-align: center;
    padding: 10px;
}
  
.mft-check-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: black;
    padding-left: 20%;
    padding: 10px 10%;
}

.mft-check-left, .mft-check-right {
    background: dodgerblue;
    padding: 30px;
    margin: 30px;
    text-align: center;
    height: 500px
}