{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/cart.css') }}">
{% endblock %}

{% block content %}

<div class="mft-cart">

    <div class="mft-cart-items">

        {% for item in usercart %}
        <div class="mft-cart-item">
            {{item.itemIDs}}
            {{item.amount}}
            {{technologies.name}}
        </div>
        {% endfor %}

    </div>

    <div class="mft-cart-summary">

    </div>
    
</div>

{% endblock %}