{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/cart.css') }}">
{% endblock %}

{% block content %}
<div class="mft-cart">

    <div class="mft-cart-items">
        <h2 class="mft-cart-title">Your Cart</h2>
        {% for item in usercart %}
        <div class="mft-cart-item">
            <div class="mft-cart-item-left">
                <img class="mft-cart-item-image" src="{{ url_for('static', filename='assets/images/product-' + item.itemIDs + '.png') }}">
            </div>
            <div class="mft-cart-item-middle">
                <h3>{{ item.itemIDs }}</h3>
                <p>Price: £{{ item.price }}</p>
                <p>Quantity: {{ item.amount }}</p>
            </div>
            <div class="mft-cart-item-right">
                <button class="mft-cart-remove-button"><a href="/remove_from_cart/{{ item.itemIDs }}">Remove</a></button>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="mft-cart-summary">
        <div class="mft-cart-summary-item">
            <h2 class="mft-cart-title">Cart Summary</h2>
            <div class="mft-cart-summary-item">
                <p>Total Items: {{ cartItems }}</p>
                <p>Total Price: {{ cartCost }}</p>
            </div>
            <button class="mft-checkout-btn"><a href="#">Checkout</a></button>
        </div>
    </div>

</div>
{% endblock %}


{{item.itemIDs}}
{{item.amount}}
{{item.userID}}
{{item._id}}
test