{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/products.css') }}">
{% endblock %}


{% block content %} 
<form method="POST" action="/products">

    <div class="mft-products">

        <div class="mft-product-filters">
            <h2>Filter by:</h2>
            <div class="mft-product-filter">
                <label for="sellers">Sellers: </label>
                {{ form.formSellers }}
                <br>
                <label for="env_impact">Carbon Emissions: </label>
                {{ form.env_impact(oninput="updateEnvSliderValue(this.value)") }}
                <span id="sliderEnvValue">{{ form.env_impact.data }}</span>
                <br>
                <label for="reviews">Reviews: </label>
                {{ form.reviews(oninput="updateReviewSliderValue(this.value)") }}
                <span id="sliderReviewsValue">{{ form.reviews.data }}</span>
                <br>
                <label for="price">Price: </label>
                {{ form.minPrice(oninput="updateMinPriceSliderValue(this.value)") }}
                {{ form.maxPrice(oninput="updateMaxPriceSliderValue(this.value)") }}
                <span id="sliderMinPriceValue">min: {{ form.minPrice.data }}</span>
                <span id="sliderMaxPriceValue">max: {{ form.maxPrice.data }}</span>
                <br>
                <button>Submit</button>
            </div>
        </div>

        <div class="mft-product-viewfinder">

            <div class="mft-product-search">
                {{ form.search }}
                <button>Submit</button>
            </div>

            <div class="mft-product-line">
                {% for tech in technologies %}
                    <div class="mft-product" id="product-{{tech._id}}" onclick="location.href='/tech/{{tech._id}}';" style="cursor: pointer;">
                        <div class="mft-product-image-container">
                            <img class="mft-product-image" src="{{ url_for('static', filename='assets/images/product-' + tech._id + '.png')}}">
                        </div>
                        <div class="mft-product-info">
                            <h4>{{ tech.name }}</h4>
                            <p>{{ tech.price }}</p>
                            <button class="mft-addtwocart"><a href="/add_to_cart/{{tech._id}}">Add to cart</a></button>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>

</form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='assets/scripts/products.js') }}"></script>
{% endblock %}