.mft-product-line {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: dodgerblue;
    padding: 10px;
}
.mft-product-line > div {
    background-color: dodgerblue;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
}
.mft-product-image {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: auto;
}

.mft-product-image-container {
    display: flex;
    justify-content: center;
    height: 200px;
    background: white;
    overflow: hidden;
}

.item-summary {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
}